@{
    string twenty = null;
    string fifty = null;
    string hundred = null;
    string numFirstDis = null;
    string numPreDis = null;
    string numNextDis = null;
    string numLastDis = null;
    switch (ViewBag.PageSize)
    {
        case 20:
            twenty = "selected";
            break;
        case 50:
            fifty = "selected";
            break;
        case 100:
            hundred = "selected";
            break;
        default:
            twenty = "selected";
            break;
    }
    if (Model.IsFirstPage)
    {
        numFirstDis = "disabled";
        numPreDis = "disabled";
    }
    if (Model.IsLastPage)
    {
        numLastDis = "disabled";
        numNextDis = "disabled";
    }
}
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Accommodation List</h4>
            <div>
                <button class="btn btn-info submit_btn" data-action="/Accommodation/MultipleAccommodationImage" disabled>Accommodation Images</button>
                <button class="btn btn-info submit_btn" data-action="/Accommodation/MultipleRoomsImages" disabled>Room Images</button>
            </div>

            @if (ViewBag.Restricted)
            {
                object check = ViewBag.ShowVerified ? "checked" : null;
                object onlyVerifiedCheck = ViewBag.OnlyVerified ? "checked" : null;
                <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                    <input type="checkbox" id="inputCall1" name="Verified" class="peer" @check>
                    <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Show Verified Accommodations</span></label>
                </div>
                <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                    <input type="checkbox" id="inputCall2" name="Verified" class="peer" @onlyVerifiedCheck>
                    <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Only Show Verified Accommodations</span></label>
                </div>
            }
            <div class="accomodation_paging">
                <span class="text-item">
                    Show
                    <select class="page_number form-control">
                        <option @twenty>20</option>
                        <option @fifty>50</option>
                        <option @hundred>100</option>
                    </select>
                    items
                </span>
                <button class="btn cur-p btn-primary numFirst leftArrow" @numFirstDis><<</button>
                <button class="btn cur-p btn-primary numPre leftArrow" @numPreDis><</button>
                <span class="title-page">page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
                <button class="btn cur-p btn-primary numNext rightArrow" @numNextDis>></button>
                <button class="btn cur-p btn-primary numLast rightArrow" @numLastDis>>></button>
                <span class="search_input">
                    <input type="text" id="searchInput" placeholder="Search..." class="form-control"/>
                </span>
            </div>
            <form method="post">
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="no-sort"><input type="checkbox" class="checkAll" /></th>
                            <th>Accommodation ID</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Last Update</th>
                            <th class="no-sort">Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th><input type="checkbox" class="checkAll" /></th>
                            <th>Accommodation ID</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Last Update Date</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var Item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="accommodationsID" value="@Item.AccommodationID" /></td>
                                <td>@Item.AccommodationID</td>
                                <td>@Item.Name</td>
                                <td>@Item.CityName</td>
                                <td>@Item.Country</td>
                                <td>@Item.lastUpdate</td>
                                <td>
                                    @*<a href="Images/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-secondary">Images</a>*@
                                    <a href="Weather/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-primary">Weather</a>
                                    <a href="Facility/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-warning">Facility</a>
                                    <a target="_blank" href="~/VerifyPanel/Details/@Item.AccommodationID" class="btn cur-p btn-info">Verify</a>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <div class="accomodation_paging">
                <span class="text-item">
                    Show
                    <select class="page_number form-control">
                        <option @twenty>20</option>
                        <option @fifty>50</option>
                        <option @hundred>100</option>
                    </select>
                    items
                </span>
                <button class="btn cur-p btn-primary numFirst leftArrow" @numFirstDis><<</button>
                <button class="btn cur-p btn-primary numPre leftArrow" @numPreDis><</button>
                <span class="title-page">page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
                <button class="btn cur-p btn-primary numNext rightArrow" @numNextDis>></button>
                <button class="btn cur-p btn-primary numLast rightArrow" @numLastDis>>></button>
                <span class="search_input">
                    <input type="text" id="searchInput" placeholder="Search..." class="form-control" />
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#datatable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        //$('#datatable').DataTable({
        //    "order": [],
        //    "columnDefs": [{ "orderable": false, "targets": 0 },{
        //        "targets": 'no-sort',
        //        "orderable": false,
        //    }],
        //});
    });
    $(".checkAll").change(function () {
        if ($(this).is(":checked")) {
            $(".checkAll").prop("checked", true);
            $("input[name=accommodationsID]").prop("checked", true).trigger("change");
        } else {
            $(".checkAll").prop("checked", false);
            $("input[name=accommodationsID]").prop("checked", false).trigger("change");
        }
    })
    $("#inputCall1").change(function () {
        var checked = $(this).is(":checked");
        window.location.href = '/Accommodation/List?showVerified=' + checked;
    })
    $("#inputCall2").change(function () {
        var checked = $(this).is(":checked");
        window.location.href = '/Accommodation/List?onlyVerified=' + checked;
    })
    $("input[name=accommodationsID]").change(function () {
        var checked = false;
        if (!$(this).is(":checked")) {
            $(".checkAll").prop("checked", false);
        }
        $("input[name=accommodationsID]").each(function () {
            if ($(this).is(":checked")) {
                checked = true;
                return false;
            }
        })
        if (checked) {
            $(".submit_btn").prop("disabled", false);
        } else {
            $(".submit_btn").prop("disabled", true);
        }
    })
    $(".submit_btn").click(function () {
        var action = $(this).data("action");
        $("form").attr("action", action);
        $("form").submit();
    })
    $(".numFirst").click(function () {
        window.location.href = '@Html.Raw(Url.Action("List", "Accommodation", new { showVerified = ViewBag.ShowVerified, onlyVerified = ViewBag.OnlyVerified, page = 1, pageSize = ViewBag.PageSize }))';
    });
    $(".numPre").click(function () {
        window.location.href = '@Html.Raw(Url.Action("List", "Accommodation", new { showVerified = ViewBag.ShowVerified, onlyVerified = ViewBag.OnlyVerified, page = Model.PageNumber == 1 ? Model.PageNumber : Model.PageNumber - 1, pageSize = ViewBag.PageSize}))';
    });
    $(".numNext").click(function () {
        window.location.href = '@Html.Raw(Url.Action("List", "Accommodation", new { showVerified = ViewBag.ShowVerified, onlyVerified = ViewBag.OnlyVerified, page = Model.PageNumber == Model.PageCount ? Model.PageNumber : Model.PageNumber + 1, pageSize = ViewBag.PageSize}))';
    });
    $(".numLast").click(function () {
        window.location.href = '@Html.Raw(Url.Action("List", "Accommodation", new { showVerified = ViewBag.ShowVerified, onlyVerified = ViewBag.OnlyVerified, page = Model.PageCount, pageSize = ViewBag.PageSize}))';
    });
    $(".page_number").change(function () {
        var a = $(this).val();
        window.location.href = '/Accommodation/List?showVerified=@ViewBag.ShowVerified&onlyVerified=@ViewBag.OnlyVerified' + '&page=1' + '&pageSize=' + a;
    });
    $(".search_name").on("keyup", function () {
        var value = $(this).val();

        $("#datatable tr").each(function (index) {
            if (index !== 0) {

                $row = $(this);

                var id = $row.find("td:eq(2)").text();

                if (id.indexOf(value) !== 0) {
                    $row.hide();
                }
                else {
                    $row.show();
                }
            }
        });
    });
</script>