<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Accommodation List</h4>
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Accommodation ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Last Update Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Accommodation ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Last Update Date</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var Item in Model)
                    {
                        <tr>
                            <td>@Item.AccommodationID</td>
                            <td>@Item.Name</td>
                            <td>@Item.CityName</td>
                            <td>@Item.Country</td>
                            <td>@Item.lastUpdate</td>
                            <td>
                                
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                        <a class="dropdown-item" href="Images/AccommodationID=@Item.AccommodationID">Images</a>
                                        <a class="dropdown-item" href="Weather/?AccommodationID=@Item.AccommodationID">Weather</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>