<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Accommodation List</h4>
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Accommodation ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Last Update Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Accommodation ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Last Update Date</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var Item in Model.AccommodationList)
                    {
                        <tr>
                            <td>@Item.AccommodationID</td>
                            <td>@Item.Name</td>
                            <td>@Item.CityName</td>
                            <td>@Item.Country</td>
                            <td>@Item.lastUpdate</td>
                            <td>
                                @*<a href="Images/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-secondary">Images</a>*@
                                <a href="Weather/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-primary">Weather</a>
                                <a href="Facility/?AccommodationID=@Item.AccommodationID" class="btn cur-p btn-warning">Facility</a>
                                <a target="_blank" href="~/VerifyPanel/Details/@Item.AccommodationID" class="btn cur-p btn-info">Verify</a>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>