@model Data.ViewModel.AccommodationModels.FilterImagesView
@{
                /**/

                string Message_Alert = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Error);
                string Message_Success = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Success);
}

@if (!String.IsNullOrEmpty(Message_Alert))
{
    <div class="alert alert-danger" role="alert">@Message_Alert</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Error);
}
@if (!String.IsNullOrEmpty(Message_Success))
{
    <div class="alert alert-success" role="alert">@Message_Success</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Success);
}
<div>
    @foreach (var Item in Model.AccomodationImages)
    {

    <div class="gallery">
        @if (Item.IsActive == false)
    {
        <label class="myCheckbox">
            <span class="img_child"><i class="fas fa-check"></i></span>
            <img src="@Item.Link" id="@Item.ImageID" class="select-image desc">
            <input type="checkbox" value="delete" class="select_check" />
        </label>

}
else
{
        <label class="myCheckbox">
            <span class="img_child"><i class="fas fa-check"></i></span>
            <img src="@Item.Link" id="@Item.ImageID" class="select-image">
            <input type="checkbox" value="delete" class="select_check" />
        </label>

}
    </div>

    }

</div>
<div>

    <button id="back" class="btn" type="submit" onclick="window.history.back();">Back</button>
    <button id="send" class="btn" type="submit">Filter</button>
</div>

<script type="text/javascript" src="~/Content/Scripts/jquery.js"></script>

<script>
    var filtered = new Array();
    $(window).on('beforeunload', function () {
        $(window).scrollTop(0);
    });
    $(document).ready(function () {
        $(".desc").parent().find(".fa-check").addClass('dis');
        $(".desc").parent().find('.select_check').prop('checked', true);
        $('.myCheckbox').each(function(img , item){
            if ($(item).children("input.select_check").prop("checked")) {
                var a = $(this).children("img").attr("id");
                filtered.push(a);
            }
        })

    });

        $(".myCheckbox").click(function () {
            if ($(this).children("img.select-image").hasClass("desc")) {
                $(this).parent().find(".select-image").removeClass('desc');
                $(this).parent().find(".fa-check").removeClass('dis');
                $(this).children("input.select_check").prop('checked', false);
                var ID = $(this).children("img.select-image").attr("id");
                for (var i = filtered.length ; i--;) {
                    if (filtered[i] == ID) filtered.splice(i, 1);
                }
            } else {
                $(this).parent().find(".select-image").addClass('desc');
                $(this).parent().find(".fa-check").addClass('dis');
                $(this).children("input.select_check").prop('checked', true);
                var Id = $(this).children("img.select-image").attr("id");
                filtered.push(Id);
            }
            return false;
        });



        $("#send").click(function () {
            $.ajax({
                url: "/Accommodation/Filter",
                type: "POST",
                data: { ImageID: filtered, AccommodationID:@(Model.AccommodationID) },
                success: function (data) {
                    location.reload(true);
                },
                error: function (ex) {

                }
            });
        })
</script>