@model Data.ViewModel.AccommodationModels.FilterImagesView
@{
    /**/

    string Message_Alert = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Error);
    string Message_Success = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Success);
}

@if (!String.IsNullOrEmpty(Message_Alert))
{
    <div class="alert alert-danger" role="alert">@Message_Alert</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Error);
}
@if (!String.IsNullOrEmpty(Message_Success))
{
    <div class="alert alert-success" role="alert">@Message_Success</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Success);
}
<div>
    <div class="button_head">
        <button id="active_btn" class="btn_img">Active</button>
        <button id="deactive_btn" class="btn_img">Deactive</button>
        <button id="report_btn" class="btn_img">Report</button>
        <button id="unreport_btn" class="btn_img">Unreport</button>
        <button id="back" class="btn_img" type="submit" onclick="window.history.back();">Back</button>
        <div class="status"></div>
    </div>
    <div style="margin-top:50px;">
        @foreach (var Item in Model.AccomodationImages)
        {

            <div class="gallery">
                @if (Item.IsActive == false)
                {
                    <label class="myCheckbox">
                        <span class="img_child"><i class="fas fa-times clos"></i></span>
                        <img src="@Item.Link" id="@Item.ImageID" class="select-image">
                    </label>

                }
                else if (Item.IsReported == true)
                {
                    <label class="myCheckbox">
                        <span class="img_child"><i class="fas fa-check"></i></span>
                        <img src="@Item.Link" id="@Item.ImageID" class="select-image">
                    </label>
                }
                else
                {
                    <label class="myCheckbox">
                        <span class="img_child"><i class="fas"></i></span>
                        <img src="@Item.Link" id="@Item.ImageID" class="select-image">
                    </label>

                }
            </div>

        }
    </div>
</div>


<script type="text/javascript" src="~/Content/Scripts/jquery.js"></script>

<script>
    var filtered = new Array();
    $("body").on("click", "#deactive_btn", function () {
        $("img.desc").parent().find("i").addClass("fa-times clos");
        $("img.desc").removeClass("desc");
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                ImageID: item,
                IsActive: false,
            });
        });
        var model = {
            AccommodationlID: @(Model.AccommodationID),
            AccomodationImages: images,
        };
        SendReq(model);
    })
    $("body").on("click", "#report_btn", function () {
        $("img.desc").parent().find("i").addClass("fa-check");
        $("img.desc").removeClass("desc");
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                ImageID: item,
                IsReported: true,
            });
        });
        var model = {
            AccommodationlID: @(Model.AccommodationID),
            AccomodationImages: images,
        };
        SendReq(model);
    })
    $("body").on("click", "#unreport_btn", function () {
        $("img.desc").parent().find("i").removeClass("fa-check");
        $("img.desc").removeClass("desc");
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                ImageID: item,
                IsReported: false,
            });
        });
        var model = {
            AccommodationlID: @(Model.AccommodationID),
            AccomodationImages: images,
        };
        SendReq(model);
    })
    $("body").on("click", "#active_btn", function () {
        $("img.desc").parent().find("i").removeClass("fa-times clos");
        $("img.desc").removeClass("desc");
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                ImageID: item,
                IsActive: true,
            });
        });
        var model = {
            AccommodationlID: @(Model.AccommodationID),
            AccomodationImages: images,
        };
        SendReq(model);
    });
    $(window).on('beforeunload', function () {
        $(window).scrollTop(0);
    });
    $(".myCheckbox").click(function () {
        var Id = $(this).children("img.select-image").attr("id");
        if ($(this).children("img.select-image").hasClass("desc")) {
            $(this).parent().find(".select-image").removeClass('desc');
            filtered.splice(filtered.indexOf(Id));
        } else {
            $(this).parent().find(".select-image").addClass('desc');
            filtered.push(Id);
        }
    });
    function SendReq(dataModel) {
        $.ajax({
            url: "/Accommodation/Filter",
            type: "POST",
            data: $.param(dataModel),
            success: function (data) {
                if (data.success) {
                    $(".status").html('<div class="alert alert-success" role="alert">Success</div>');
                } else {
                    $(".status").html('<div class="alert alert-danger" role="alert">Failed</div>');
                }
            },
            error: function (ex) {
                $(".status").html('<div class="alert alert-danger" role="alert">Failed</div>');
            }
        });
    }
</script>