@model Data.ViewModel.AccommodationModels.GroupRoomImage
@{
    /**/
    var counter = 0;
    string Message_Alert = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Error);
    string Message_Success = Common.iUserStorage.Retrive<string>(Constants.PublicConstants.Session.Message_Success);
}

@if (!String.IsNullOrEmpty(Message_Alert))
{
    <div class="alert alert-danger" role="alert">@Message_Alert</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Error);
}
@if (!String.IsNullOrEmpty(Message_Success))
{
    <div class="alert alert-success" role="alert">@Message_Success</div>
    Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Success);
}
<div>
    <div class="button_head">
        <button id="active_btn" class="btn_img">Active</button>
        <button id="deactive_btn" class="btn_img">Deactive</button>
        <button id="report_btn" class="btn_img">Report</button>
        <button id="unreport_btn" class="btn_img">Unreport</button>
        <button id="back" class="btn_img" type="submit" onclick="window.location.href='/VerifyPanel/Details/@Model.AccommodationId';">Back</button>
        <div class="status"></div>
    </div>
    <div style="margin-top:50px;">
        <div id="accordion">
            @foreach (var part in Model.RoomImages)
            {
                var show = counter == 0 ? "collapse show" : "collapse";
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#part-@counter" aria-expanded="true" aria-controls="part-@counter">
                                @part.Key
                            </button>
                        </h5>
                    </div>

                    <div id="part-@counter" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            @foreach (var Item in part.Value)
                            {

                                <div class="gallery">
                                    @if (Item.IsActive == false)
                                    {
                                        <label class="myCheckbox">
                                            <span class="img_child"><i class="fas fa-times clos"></i></span>
                                            <img data-src="@Item.RoomImagePhysicalPath" id="@Item.AccomodationRoomImageID" class="select-image lazy">
                                        </label>

                                    }
                                    else if (Item.IsReported == true)
                                    {
                                        <label class="myCheckbox">
                                            <span class="img_child"><i class="fas fa-check"></i></span>
                                            <img data-src="@Item.RoomImagePhysicalPath" id="@Item.AccomodationRoomImageID" class="select-image lazy">
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="myCheckbox">
                                            <span class="img_child"><i class="fas"></i></span>
                                            <img data-src="@Item.RoomImagePhysicalPath" id="@Item.AccomodationRoomImageID" class="select-image lazy">
                                        </label>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Content/Scripts/jquery.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

<script>
    $(function () {
        $('.lazy').Lazy();
    });
    var filtered = new Array();
    $("body").on("click", "#deactive_btn", function () {
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                AccomodationRoomImageID: item,
                IsActive: false,
            });
        });
        var model = {
            AccommodationID: @(Model.AccommodationId),
            RoomImages: images,
        };
        SendReq(model, function () {
            $("img.desc").parent().find("i").addClass("fa-times clos");
        }, function () {
            $("img.desc").removeClass("desc");
        });
        filtered = [];
    })
    $("body").on("click", "#report_btn", function () {
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                AccomodationRoomImageID: item,
                IsReported: true,
            });
        });
        var model = {
            AccommodationID: @(Model.AccommodationId),
            RoomImages: images,
        };
        SendReq(model, function () {
            $("img.desc").parent().find("i").addClass("fa-check");
        }, function () {
            $("img.desc").removeClass("desc");
        });
        filtered = [];
    })
    $("body").on("click", "#unreport_btn", function () {
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                AccomodationRoomImageID: item,
                IsReported: false,
            });
        });
        var model = {
            AccommodationID: @(Model.AccommodationId),
            RoomImages: images,
        };
        SendReq(model, function () {
            $("img.desc").parent().find("i").removeClass("fa-check");
        }, function () {
            $("img.desc").removeClass("desc");
        });
        filtered = [];
    })
    $("body").on("click", "#active_btn", function () {
        var images = new Array();
        $.each(filtered, function (index, item) {
            images.push({
                AccomodationRoomImageID: item,
                IsActive: true,
            });
        });
        var model = {
            AccommodationID: @(Model.AccommodationId),
            RoomImages: images,
        };
        SendReq(model, function () {
            $("img.desc").parent().find("i").removeClass("fa-times clos");
        }, function () {
            $("img.desc").removeClass("desc");
        });
        filtered = [];
    });
    $(window).on('beforeunload', function () {
        $(window).scrollTop(0);
    });
    $(".myCheckbox").click(function () {
        var Id = $(this).children("img.select-image").attr("id");
        if ($(this).children("img.select-image").hasClass("desc")) {
            $(this).parent().find(".select-image").removeClass('desc');
            filtered.splice(filtered.indexOf(Id));
        } else {
            $(this).parent().find(".select-image").addClass('desc');
            filtered.push(Id);
        }
    });
    function SendReq(dataModel,success,final) {
        $.ajax({
            url: "/Accommodation/VerifyRoomImage",
            type: "POST",
            data: $.param(dataModel),
            success: function (data) {
                if (data.success) {
                    success();
                    $(".status").html('<div class="alert alert-success" role="alert">Success</div>');
                    setTimeout(function () {
                        $(".status").html("");
                    }, 1000);
                } else {
                    $(".status").html('<div class="alert alert-danger" role="alert">Failed</div>');
                    setTimeout(function () {
                        $(".status").html("");
                    }, 1000);
                }
                final();
            },
            error: function (ex) {
                $(".status").html('<div class="alert alert-danger" role="alert">Failed</div>');
                setTimeout(function () {
                    $(".status").html("");
                }, 1000);
            }
        });
    }
</script>