@model Data.ViewModel.VerifyPanelViewModels.HotelInfoViewModel
@{
    ViewBag.Title = "Verify Panel";
}
<link href="~/Content/Style/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/plugin/slippy/slippry.css" rel="stylesheet" />
<script src="~/Content/plugin/slippy/slippry.min.js"></script>

<div class="wrapper">
    <div class="button_head">
        <div style="margin-top:-20px;">
            <button type="submit" id="verify_btn" class="btn_img" style="width:120px;">Verify</button>
            <a href="~/Accommodation/Images/?AccommodationID=@Model.AccommodationId" target="_blank" class="btn cur-p btn-info">Accommodation Images</a>
            <a href="~/Accommodation/RoomImages/@Model.AccommodationId" target="_blank" class="btn cur-p btn-warning">Room Images</a>
            <div class="status"></div>
        </div>
    </div>
        @*if (Model.BookingUrl != null)
            {
            <div class="box_parent">
                <h2>Booking Url</h2>
                <div>
                    <iframe style="width:80%; overflow-y:auto; height:500px;" frameborder="0" data-src="@Model.BookingUrl"></iframe>
                </div>
                <div class="booking">
                    <label>Booking Url:</label><input id="booking_url_input" type="text" name="BookingUrl" value="@Model.BookingUrl" class="hidden" readonly />
                </div>
            </div>
            }*@
        <div class="box_parent">
            <h2>Descripion</h2>
            <div class="information">
                <div class="paragraf">
                    <div class="show_text">
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="show_btn txt_right">
                        <button class="btn_img edit_des" type="button" style="margin-top:15px">Edit</button>
                    </div>
                </div>
                <div class="txt_area">
                    <textarea name="editor1" id="editor1" rows="60">@Model.Description</textarea>
                    <div class="txt_right">
                        <button class="btn_img save_des" type="button" style="margin-top:15px">Save</button>
                    </div>
                </div>
            </div>
        </div>


    @using (Html.BeginForm())
    {
        <input type="hidden" name="CityId" />
        <input type="hidden" name="Description" />
        <input type="hidden" name="AccommodationId" value="@Model.AccommodationId" />
        <div class="box_parent">
            <h2>Details</h2>
            <div class="Lat_box information">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>

                                <input type="text" class="hidden" name="Name" value="@Model.Name" readonly />

                            </td>
                            <td>Url</td>
                            <td>

                                <input type="text" class="hidden" name="Url" value="@Model.Url" readonly />

                            </td>
                        </tr>
                        <tr>
                            <td width="15%">Address</td>
                            <td width="35%">
                                <input type="text" class="hidden" name="Address" value="@Model.Address" readonly />
                            </td>
                            <td>Email</td>
                            <td>

                                <input type="text" class="hidden" name="Email" value="@Model.Email" readonly />

                            </td>
                        </tr>
                        <tr>
                            <td>Telephone</td>
                            <td>
                                <input type="tel" class="hidden" name="Telephone" value="@Model.Telephone" />
                            </td>
                            <td>Fax</td>
                            <td>

                                <input type="number" class="hidden" name="Fax" value="@Model.Fax" />

                            </td>

                        </tr>

                        <tr>
                            <td>Longitude</td>
                            <td>

                                <input type="number" class="hidden" name="Longitude" value="@Model.Longitude" />

                            </td>
                            <td>Latitude</td>
                            <td>

                                <input type="number" class="hidden" name="Latitude" value="@Model.Latitude" />

                            </td>

                        </tr>


                        <tr>
                            <td>CityName</td>
                            <td>

                                <input type="text" class="hidden" name="CityName" value="@Model.CityName" readonly />

                            </td>
                            <td>Country</td>
                            <td>

                                <input type="text" class="hidden" name="CountryName" value="@Model.CountryName" readonly />

                            </td>

                        </tr>

                        <tr>
                            <td>Rating</td>
                            <td>

                                <input type="number" class="hidden" name="Rating" value="@Model.Rating" readonly />

                            </td>
                            <td>Verified Date</td>
                            <td>

                                <input type="text" class="hidden" name="VerifiedDate" value="@Model.VerifiedDate" readonly />

                            </td>

                        </tr>
                        <tr>
                            <td>Is Verified</td>
                            <td>
                                @{var verify = (Model.IsVerified ?? false) ? "checked" : null;}
                                <input type="checkbox" class="checkbox" name="IsVerified" @verify disabled />

                            </td>
                            <td>Is Active</td>
                            <td>

                                @{var active = (Model.IsActive ?? false) ? "checked" : null;}
                                <input type="checkbox" class="checkbox" name="IsActive" value="true" @active />
                            </td>
                        </tr>
                        <tr>
                            <td>Booking URL</td>
                            <td colspan="3" style="padding: 10px 10px;">
                                <a href="@Model.BookingUrl" target="_blank" class="booking">@Model.BookingUrl</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    }
    <div class="box_parent">
        <h2>Facility</h2>
        <div class="information">



            <table id="dataTable" class="table table-striped table-bordered Facility" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="30%">
                            Name
                        </th>
                        <th width="35%">
                            Category
                        </th>
                        <th>
                            Delete
                        </th>
                        <th>Undo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var facility in Model.AccommodationFacilities)
                    {
                        <tr data-id="@facility.Id">
                            <td>@facility.Name</td>
                            <td>@facility.Category</td>
                            <td>
                                <button id="delete_btn" class="dlt cur-p btn-danger">Delete</button>
                            </td>
                            <td>
                                <button id="undo_btn" class="cur-p btn-primary undo">Undo</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div style="text-align:right">
                <button class="btn_img add" style="margin-top:15px">Add</button>
            </div>

        </div>



        <div class="add_facility">
            <div>
                <span>Name :</span>
                <select class="name_fac"></select>
            </div>
            <div>
                <span>
                    Category :
                </span>
                <label id="facility_category" class="ctg"></label>
            </div>
            <div class="txt_right" style="text-align:right; margin-right:10px;">
                <button class="btn_img save_fac">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/owl.carousel.js"></script>
<script src="~/Content/plugin/ckeditor/ckeditor.js"></script>
<script src="~/Content/plugin/ckeditor/styles.js"></script>

<script>
    var roomImgChangeId = new Array();
    var hotelImgChangeId = new Array();
    var addedfacilities = new Array();
    var deletedfacilities = new Array();
    var roomImgChanges = new Array();
    var hotelImgChanges = new Array();
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        lazyLoad: true,
        lazyLoadEager: true,
        URLhashListener: true,
        autoplayHoverPause: true,
        startPosition: 'URLHash',
        navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    });
    $(function () {
        $('#home_demo').desoSlide({
  mainImage: '#home_main_image',
  insertion: 'replace',
        });
    });

    CKEDITOR.replace("editor1",
        {
            height: 550
        });

    $("body").on("click", ".fa-pencil-alt", function () {
        $(this).parent().parent().find("input.hidden").addClass("show-border");
        $(this).parent().parent().find("input.hidden").attr("readonly", false);
    })
    $("input[type=text]").click(function () {
        $(this).addClass("show-border");
        $(this).attr("readonly", false);
    })
    $("body").on("blur", ".hidden", function () {
        $(this).removeClass("show-border");
        $(this).attr("readonly", true);
    })

    $("body").on("click", ".edit_des", function () {
        $("div.show_text").css("display", "none");
        $("div.show_btn").css("display", "none");
        $(".txt_area").css("display", "block");
    })

    $("body").on("click", ".save_des", function () {
        var textContent1 = CKEDITOR.instances.editor1.getData();
        $("input[name=Description]").val(textContent1);
        $(".show_text").html(textContent1);
        $("div.show_text").css("display", "block");
        $("div.show_btn").css("display", "block");
        $(".txt_area").css("display", "none");
    })

    $("body").on("click", ".add", function () {
            $.get("/VerifyPanel/GetFacilitiesList/@Model.AccommodationId", function (response) {
                $.each(response, function (index, item) {
                    $(".name_fac").append('<option data-category="' + item.Category + '" value="' + item.Id + '">' + item.Name + '</option>')
                })
            });
        $("div.add_facility").css("display", "block");
    })
    $("body").on("click", ".dlt", function () {
        $(this).parent().parent().addClass("delete");
    })
    $("body").on("click", ".undo", function () {
        $(this).parent().parent().removeClass("delete");
        var index = deletedfacilities.indexOf($(this).parent().parent().data("id"));
        deletedfacilities.splice(index);
    })
    $("body").on("change", ".name_fac", function () {
        if ($(".name_fac option:selected").length == 0) {
            $("#facility_category").text($(".name_fac option:first").data("category"));
        }
        $(".name_fac option:selected").each(function () {
            $("#facility_category").text($(this).data("category"));
        });
    })

    $("body").on("click", ".save_fac", function () {
        var category = $(".ctg").text();
        var id = $(".name_fac option:selected").val();
        var name = $(".name_fac option:selected").text();
        addedfacilities.push(id);
        $("table.Facility").append('<tr data-id="' + id + '"><td>' + name + '</td><td>' + category + '</td><td><button class="dlt cur-p btn-danger">Delete</button ></td ><td><button class="cur-p btn-primary undo">Undo</button></td></tr>');
        $(".add_facility").css("display", "none");
    })
    $("body").on("click", "#delete_btn", function () {
        deletedfacilities.push($(this).parent().parent().data("id"));
    });

    $("body").on("click", "#verify_btn", function () {
        roomImgChangeId = roomImgChangeId.filter((item, index, arr) => {
            return arr.indexOf(item) == index
        });
        hotelImgChangeId = hotelImgChangeId.filter((item, index, arr) => {
            return arr.indexOf(item) == index
        });
        $.each(roomImgChangeId, function () {
            var active = null;
            var report = null;
            $("input.roomImgCheck[data-id=" + $(this)[0] + "]").each(function (index, item) {
                switch (item.getAttribute("name")) {
                    case "IsActive":
                        active = item.checked;
                        break;
                    case "IsReported":
                        report = item.checked;
                        break;
                    default:
                }
            });
            roomImgChanges.push({
                AccommodationId: @Model.AccommodationId,
                IsActive: active,
                IsReported: report,
                Id: $(this)[0]
            });
        })
        $.each(hotelImgChangeId, function () {
            var active = null;
            var report = null;
            $("input.hotelImgCheck[data-id=" + $(this)[0] + "]").each(function (index, item) {
                if (active != null && report != null) {
                    return false;
                }
                switch (item.getAttribute("name")) {
                    case "IsActive":
                        active = item.checked;
                        break;
                    case "IsReported":
                        report = item.checked;
                        break;
                    default:
                }
            });
            hotelImgChanges.push({
                AccommodationId: @Model.AccommodationId,
                IsActive: active,
                IsReported: report,
                Id: $(this)[0]
            });
        })
        var model = $("form").serialize();
        $.ajax({
            url: "/VerifyPanel/Verify",
            data: model + "&" + decodeURIComponent($.param({
                addedFacilities: addedfacilities,
                removedFacilities: deletedfacilities,
                RoomImages: roomImgChanges,
                AccommodationImages: hotelImgChanges,
            })),
            type: "POST",
            success: function (response) {
                if (response.success) {
                    $(".status").html('<div class="alert alert-success" role="alert">Success</div>');
                }
                else {
                    $(".status").html('<div class="alert alert-danger" role="alert">' + response.data + '</div>');
                }
            },
            error: function (ex) {
                $(".status").html('<div class="alert alert-danger" role="alert">' + ex.statusText + '</div>');
            }
        })
    });
    $(window).on("load",function () {
        var src = $("iframe").data("src");
        $("iframe").attr("src", src);
    });
    $("#booking_url_input").change(function () {
        $("iframe").attr("src", $(this).val());
        $("iframe").data("src", $(this).val());
    })
    $(".hotelImgCheck").change(function () {
        hotelImgChangeId.push($(this).data("id"));
    });
    $(".roomImgCheck").change(function () {
        roomImgChangeId.push($(this).data("id"));
    });



    $("input[name=CityName]").autocomplete({
        select: function (e, u) {
            $(this).val(u.item.Name);
            $("input[name=CountryName]").val(u.item.country);
            $("input[name=CityId]").val(u.item.cityId);
        },
        source: function (request, response) {
            $.get("/VerifyPanel/GetCities", {
                term: request.term
            }, function (data) {
                if (data.success) {
                    response($.map(data.data, function (item) {
                        return {
                            cityId: item.Id,
                            country: item.Country,
                            label: item.NameLong,
                            value: item.Text
                        }
                    }));
                }
            });
        }
    });
    $("input[name=CountryName]").autocomplete({
        source: function (request, response) {
            $.get("/VerifyPanel/GetCountries", {
                term: request.term
            }, function (data) {
                if (data.success) {
                    response($.map(data.data, function (item) {
                        return {
                            label: item.NameLong,
                            value: item.Text
                        }
                    }));
                }
            });
        },
    });

</script>