@model Data.ViewModel.VerifyPanelViewModels.HotelInfoViewModel
@{
    ViewBag.Title = "Verify Panel";
}
<link href="~/Content/Style/owl.carousel.min.css" rel="stylesheet" />
<div class="wrapper">
    <div class="box_parent">
        <div class="img_box" style="vertical-align:top;">
            <h2>Hotel Images</h2>
            <div id="hotelimages" class="owl-carousel owl-theme">

                @foreach (var image in Model.AccommodationImages)
                {
                    var verify = (image.IsVerified ?? false) ? "checked" : null;
                    var report = (image.IsReported ?? false) ? "checked" : null;
                    var active = (image.IsActive ?? false) ? "checked" : null;
                    <div>
                        <img class="owl-lazy" data-src="@image.Url" />
                        <div class="check">
                            <input type="checkbox" @verify disabled /><label>verify</label>
                            <input type="checkbox" @report /><label>report</label>
                            <input type="checkbox" @active /><label>active</label>
                        </div>
                    </div>


                }
            </div>

        </div>
        <div class="img_box">
            <h2>Room Images</h2>
            <div id="roomimages" class="owl-carousel owl-theme room_pic">
                @foreach (var image in Model.RoomImages)
                {
                    var verify = (image.IsVerified ?? false) ? "checked" : null;
                    var report = (image.IsReported ?? false) ? "checked" : null;
                    var active = (image.IsActive ?? false) ? "checked" : null;
                    <div>
                        <img class="owl-lazy" data-src="@image.Url" />

                        <div class="check">
                            <input type="checkbox" @verify disabled /><label>verify</label>
                            <input type="checkbox" @report /><label>report</label>
                            <input type="checkbox" @active /><label>active</label>
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
    <div class="box_parent">
        <h2>Descripion</h2>
        <div class="information">
            <div class="paragraf">
                <div class="show_text">
                    @Html.Raw(Model.Description)
                </div>
                <div class="show_btn txt_right">
                    <button class="btn_img edit_des" style="margin-top:15px">Edit</button>
                </div>
            </div>
            <div class="txt_area">
                <textarea name="editor1" id="editor1" rows="30">@Model.Description</textarea>
                <div class="txt_right">
                    <button class="btn_img save_des" style="margin-top:15px">Save</button>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        <input type="hidden" name="Description" />
        <input type="hidden" name="AccommodationId" value="@Model.AccommodationId" />
        <div class="box_parent">
            <h2>Details</h2>
            <div class="Lat_box information">
                <table width="100%">
                    @*<thead>
                            <tr>
                                <th>label</th>
                                <th>value</th>
                                <th>Edit</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        <tr>
                            <td width="15%">Address</td>
                            <td width="35%">
                                <input type="text" class="hidden" name="Address" value="@Model.Address" readonly />
                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>

                                <input type="text" class="hidden" name="Email" value="@Model.Email" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td>

                                <input type="text" class="hidden" name="Fax" value="@Model.Fax" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Latitude</td>
                            <td>

                                <input type="text" class="hidden" name="Latitude" value="@Model.Latitude" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Longitude</td>
                            <td>

                                <input type="text" class="hidden" name="Longitude" value="@Model.Longitude" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Rating</td>
                            <td>

                                <input type="text" class="hidden" name="Rating" value="@Model.Rating" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Name</td>
                            <td>

                                <input type="text" class="hidden" name="Name" value="@Model.Name" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Url</td>
                            <td>

                                <input type="text" class="hidden" name="Url" value="@Model.Url" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>CityName</td>
                            <td>

                                <input type="text" class="hidden" name="CityName" value="@Model.CityName" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Telephone</td>
                            <td>

                                <input type="text" class="hidden" name="Telephone" value="@Model.Telephone" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Verified Date</td>
                            <td>

                                <input type="text" class="hidden" name="VerifiedDate" value="@Model.VerifiedDate" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>

                                <input type="text" class="hidden" name="CountryName" value="@Model.CountryName" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>CityName</td>
                            <td>

                                <input type="text" class="hidden" name="CityName" value="@Model.CityName" readonly />

                            </td>
                            <td>
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    }
    <div class="box_parent">
        <h2>Facility</h2>
        <div class="information">
            <table width="100%" class="Facility">
                <thead>
                    <tr>
                        <th width="30%">
                            Name
                        </th>
                        <th width="35%">
                            Category
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var facility in Model.AccommodationFacilities)
                    {
                        <tr data-id="@facility.Id">
                            <td>@facility.Name</td>
                            <td>@facility.Category</td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="text-align:right">
                <button class="btn_img add" style="margin-top:15px">Add</button>
            </div>
        </div>

        <div>
            <button type="submit" id="verify_btn">Verify</button>
        </div>

        <div class="add_facility">
            <div>
                <span>Name :</span>
                <select class="name_fac"></select>
            </div>
            <div>
                <span>
                    Category :
                </span>
                <label id="facility_category" class="ctg"></label>
            </div>
            <div class="txt_right" style="text-align:right; margin-right:10px;">
                <button class="btn_img save_fac">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/owl.carousel.js"></script>
<script src="~/Content/plugin/ckeditor/ckeditor.js"></script>
<script src="~/Content/plugin/ckeditor/styles.js"></script>
<script>
    var addedfacilities = new Array();
    var deletedfacilities = new Array();
    addedfacilities.push(0);
    deletedfacilities.push(0);
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        lazyLoad: true,
        lazyLoadEager: true,
        navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    });

    CKEDITOR.replace('editor1');

    $("body").on("click", ".fa-pencil-alt", function () {
        $(this).parent().parent().find("input.hidden").addClass("show-border");
        $(this).parent().parent().find("input.hidden").attr("readonly", false);
    })
    $("body").on("blur", ".hidden", function () {
        $(this).removeClass("show-border");
        $(this).attr("readonly", true);
    })

    $("body").on("click", ".edit_des", function () {
        $("div.show_text").css("display", "none");
        $("div.show_btn").css("display", "none");
        $(".txt_area").css("display", "block");
    })

    $("body").on("click", ".save_des", function () {
        var textContent1 = CKEDITOR.instances.editor1.getData();
        $("input[name=Description]").val(textContent1);
        $(".show_text").html(textContent1);
        $("div.show_text").css("display", "block");
        $("div.show_btn").css("display", "block");
        $(".txt_area").css("display", "none");
    })

    $("body").on("click", ".add", function () {
            $.get("/VerifyPanel/GetFacilitiesList/@Model.AccommodationId", function (response) {
                $.each(response, function (index, item) {
                    $(".name_fac").append('<option data-category="' + item.Category + '" value="' + item.Id + '">' + item.Name + '</option>')
                })
            });
        $("div.add_facility").css("display", "block");
    })
    $("body").on("click", ".fa-times", function () {
        $(this).parent().parent().remove("tr");
    })
    $("body").on("change", ".name_fac", function () {
        if ($(".name_fac option:selected").length == 0) {
            $("#facility_category").text($(".name_fac option:first").data("category"));
        }
        $(".name_fac option:selected").each(function () {
            $("#facility_category").text($(this).data("category"));
        });
    })

    $("body").on("click", ".save_fac", function () {
        var category = $(".ctg").text();
        var id = $(".name_fac option:selected").val();
        var name = $(".name_fac option:selected").text();
        addedfacilities.push(id);
        $("table.Facility").append('<tr data-id="' + id + '"><td>' + name + '</td><td>' + category + '</td><td><i class="fas fa-times"></i></td></tr>');
        $(".add_facility").css("display", "none");
    })
    $("body").on("click", ".fa-times", function () {
        deletedfacilities.push($(this).parent().parent().data("id"));
    });

    $("body").on("click", "#verify_btn", function () {
        var model = $("form").serialize();
        $.ajax({
            url: "/VerifyPanel/Verify",
            data: model + decodeURIComponent($.param({
                addedFacilities: addedfacilities,
                removedFacilities: deletedfacilities,
            })),
            type: "POST",
            success: function (response) {
                if (response.success) {
                    window.history.back();
                }
                else {
                    alert(response.data);
                }
            },
        })
    });

</script>